* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.section {
  position: sticky;
  background: #222222;
}

.listContainer {
  display: flex;
}

.listContainer > li {
  margin: 10px;
  position: relative;
}

.inlineList {
  opacity: 0;
  height: 0;
  padding-top: 10px;
  transition: all 300ms ease;
  position: absolute;
  background: #222222;
}

.listContainer > li:hover > .inlineList {
  height: 100px;
  opacity: 1;
}
.inlineList > li {
  color: white;
}
